:root {
    --bg-total  : linear-gradient(to right, #FF512F, #F09819);
    --bg-header : white;
    --color-text: black;
    --bg-cards  : white;
    --line-input: 2px orange solid;
}

.night-mode {
    transition  : 0.5s;
    --bg-total  : linear-gradient(to right, #000428, #004e92);
    --color-text: whitesmoke;
    --bg-header : rgb(49, 49, 49);
    --line-input: 2px rgb(13, 4, 94) solid;
    --bg-cards  : rgb(131, 131, 131);

}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}


body {
    background: var(--bg-total);
}



header {
    background     : var(--bg-header);
    height         : 10vh;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    color          : var(--color-text);
}

.date {
    background   : var(--bg-total);
    padding      : 5px 10px;
    border-radius: 5px;
    color        : white;
}

main {
    margin-top           : 25px;
    display              : grid;
    grid-template-columns: 1fr 1fr;
}

#content-left {
    background   : var(--bg-cards);
    border-radius: 10px;
    height       : 50vh;
    width        : 80%;
    margin       : auto;
    color        : var(--color-text);
}

#content-left>p {
    text-align : center;
    padding    : 10px;
    font-weight: bold;
}

.content-right {
    background   : var(--bg-cards);
    color        : var(--color-text);
    border-radius: 10px;
    width        : 80%;
    margin       : auto;
    height       : max-content;
    padding      : 10px;
    text-align   : center;
}

#input {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 15px;
}

.new-task {
    width        : 80%;
    margin       : auto;
    font-size    : 1.4rem;
    outline-style: none;
    border       : none;
    border-bottom: var(--line-input);
    background   : transparent;
}

#input>button {
    background   : var(--bg-total);
    border-radius: 10px;
    padding      : 10px;
    border       : none;
    cursor       : pointer;
    color        : white;
    width        : 50%;
    font-size    : 1.2rem;
}

button:hover {
    filter    : opacity(0.8);
    transition: 0.3s;
}

li {
    list-style           : none;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 10px;
    margin-bottom        : 10px;
}

.buttonInput {
    color: black;
}

.button-list {
    text-decoration: none !important;
    background     : var(--bg-total);
    border-radius  : 10px;
    padding        : 5px;
    border         : none;
    cursor         : pointer;
    color          : white;
    width          : 70%;
    margin         : auto;
}



@media(max-width: 600px) {

    header {
        display: grid;
        height: max-content;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "title title"
        "date dark-mode";
    }

    h1 {
        grid-area: title;
        text-align: center;
    }
    .date {
        grid-area: date;
        width: max-content;
    }
    .dark-mode{
        grid-area: dark-mode;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }

    .date {
        margin-bottom: 10px;
    }

    main {
        grid-template-columns: 1fr;
    }

    #content-left {
        height        : max-content;
        padding-bottom: 10px;
    }

    #result {
        margin-top: 15px;
    }

    .new-task {
        font-size: 1rem;
    }

    #input>button {
        width    : 80%;
        font-size: initial;
    }

    li {
        grid-template-columns: 1fr;
        grid-template-rows   : 1fr 1fr;
        gap                  : 10px;
        text-align           : center;
    }

    li>p {
        text-align: center;
        grid-area : texto;
    }

    .button-list {
        width: 60%;
    }

}